<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incaier.integration.platform.mapper.DoctorPracticepointMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incaier.integration.platform.entity.doctor.DoctorPracticepoint">
        <id column="id" property="id" />
        <result column="doctor_id" property="doctorId" />
        <result column="code" property="code" />
        <result column="practice_level_id" property="practiceLevel_id" />
        <result column="practice_title_id" property="practiceTitle_id" />
        <result column="practice_title_code" property="practiceTitleCode" />
        <result column="practice_item_id" property="practiceItem_id" />
        <result column="practice_type_id" property="practiceType_id" />
        <result column="check_org" property="checkOrg" />
        <result column="check_date" property="checkDate" />
        <result column="practice_address" property="practiceAddress" />
        <result column="practice_org" property="practiceOrg" />
        <result column="practice_org_address" property="practiceOrgAddress" />
        <result column="practice_dept" property="practiceDept" />
        <result column="document1_avatar" property="document1Avatar" />
        <result column="document1_avatar_type" property="document1AvatarType" />
        <result column="document2_avatar" property="document2Avatar" />
        <result column="document2_avatar_type" property="document2AvatarType" />
        <result column="document3_avatar" property="document3Avatar" />
        <result column="document3_avatar_type" property="document3AvatarType" />
        <result column="enabled" property="enabled" />
        <result column="title_information" property="titleInformation" />
        <result column="is_general_practitioner" property="isGeneralPractitioner" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, doctor_id, code, practice_level, practice_title, practice_title_code, practice_item, practice_type, check_org, check_date, practice_address, practice_org, practice_org_address, practice_dept, document1_avatar, document1_avatar_type, document2_avatar, document2_avatar_type, document3_avatar, document3_avatar_type, enabled, title_information, is_general_practitioner, create_by, create_time, update_by, update_time, is_delete
    </sql>

    <select id="getDoctorPracticepointById" resultType="com.incaier.integration.platform.response.doctor.DoctorPracticepointVo">
        select
            id,
            code,
            practice_level_id,
            practice_type_id,
            practice_item_id,
            practice_dept,
            practice_org,
            practice_org_address,
            enabled,
            title_information,
            check_org,
            check_date,
            practice_address,
            practice_title_id,
            is_general_practitioner
        from
            doctor_practicepoint
        where
            is_delete = 0
        and doctor_id = #{doctorId}
        order by id desc
        limit 1
    </select>

    <select id="getDoctorPraTypeLevelById"
            resultType="com.incaier.integration.platform.response.doctor.DoctorPracticepointVo">
        select
            dp.id,
            sdd1.id as practiceLevelId,
            sdd1.dict_label as practiceLevel,
            sdd2.id as practiceTypeId,
            sdd2.dict_label as practiceType
        from
            doctor_practicepoint dp
        left join sys_dict_data sdd1 on dp.practice_level_id = sdd1.id and sdd1.status = 0
        left join sys_dict_data sdd2 on dp.practice_type_id = sdd2.id and sdd2.status = 0
        where
            dp.is_delete = 0
            and dp.doctor_id = #{doctorId}
        order by dp.id desc
            limit 1
    </select>

    <insert id="saveOrUpdate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO doctor_practicepoint (id, doctor_id, code, practice_level_id, practice_title_id, practice_item_id, practice_type_id,
        check_org, check_date, practice_address, practice_org, practice_org_address, practice_dept,
        <if test="enabled != null and enabled != ''">
            enabled,
        </if>
        <if test="isGeneralPractitioner != null and isGeneralPractitioner != ''">
            is_general_practitioner,
        </if>
        title_information, create_by, update_by)
        VALUES (#{id}, #{doctorId}, #{code}, #{practiceLevelId}, #{practiceTitleId}, #{practiceItemId}, #{practiceTypeId},
        #{checkOrg}, #{checkDate}, #{practiceAddress}, #{practiceOrg}, #{practiceOrgAddress}, #{practiceDept},
        <if test="enabled != null and enabled != ''">
            #{enabled},
        </if>
        <if test="isGeneralPractitioner != null and isGeneralPractitioner != ''">
            #{isGeneralPractitioner},
        </if>
        #{titleInformation}, #{createBy}, #{updateBy}
        ) ON DUPLICATE KEY UPDATE
        doctor_id = VALUES(doctor_id),
        code = VALUES(code),
        practice_level_id = VALUES(practice_level_id),
        practice_title_id = VALUES(practice_title_id),
        practice_title_code = VALUES(practice_title_code),
        practice_item_id = VALUES(practice_item_id),
        practice_type_id = VALUES(practice_type_id),
        check_org = VALUES(check_org),
        check_date = VALUES(check_date),
        practice_address = VALUES(practice_address),
        practice_org = VALUES(practice_org),
        practice_org_address = VALUES(practice_org_address),
        practice_dept = VALUES(practice_dept),
        <if test="enabled != null and enabled != ''">
            enabled = VALUES(enabled),
        </if>
        <if test="isGeneralPractitioner != null and isGeneralPractitioner != ''">
            is_general_practitioner = VALUES(is_general_practitioner),
        </if>
        title_information = VALUES(title_information),
        update_by = VALUES(update_by)
    </insert>
</mapper>
