<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incaier.integration.platform.mapper.DoctorPracticepointItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incaier.integration.platform.entity.doctor.DoctorPracticepointItem">
        <id column="id" property="id" />
        <result column="practicepoint_id" property="practicepointId" />
        <result column="name" property="name" />
        <result column="effective_start_date" property="effectiveStartDate" />
        <result column="effective_end_date" property="effectiveEndDate" />
        <result column="remark_org" property="remarkOrg" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, practicepoint_id, name, effective_start_date, effective_end_date, remark_org, create_by, create_time, update_by, update_time, is_delete
    </sql>

    <select id="getDoctorPracticepointItems" resultType="com.incaier.integration.platform.response.doctor.DoctorPracticepointItemVo">
        select
            id,
            practicepoint_id,
            name,
            effective_start_date,
            effective_end_date,
            remark_org
        from
            doctor_practicepoint_item
        where
            is_delete = 0
          and practicepoint_id = #{practicepointId}
    </select>

    <insert id="saveBatch">
        INSERT INTO doctor_practicepoint_item (practicepoint_id, name, effective_start_date, effective_end_date, remark_org, create_by, update_by) VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.practicepointId}, #{item.name}, #{item.effectiveStartDate}, #{item.effectiveEndDate}, #{item.remarkOrg}, #{item.createBy}, #{item.updateBy})
        </foreach>
    </insert>

    <insert id="saveOrUpdate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO doctor_practicepoint_item (id, practicepoint_id, name, effective_start_date, effective_end_date, remark_org, create_by, update_by
        ) VALUES (#{id}, #{practicepointId}, #{name}, #{effectiveStartDate}, #{effectiveEndDate}, #{remarkOrg}, #{createBy}, #{updateBy})
        ON DUPLICATE KEY UPDATE
        practicepoint_id = VALUES(practicepoint_id),
        name = VALUES(name),
        effective_start_date = VALUES(effective_start_date),
        effective_end_date = VALUES(effective_end_date),
        remark_org = VALUES(remark_org),
        update_by = VALUES(update_by)
    </insert>

</mapper>
