<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incaier.integration.platform.mapper.DoctorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incaier.integration.platform.entity.doctor.DoctorInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="identity_no" property="identityNo" />
        <result column="ethnicity" property="ethnicity" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="user_name" property="userName" />
        <result column="org_code" property="orgCode" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sex, identity_no, ethnicity, phone_number, email, user_name, org_code, create_by, create_time, update_by, update_time, is_delete
    </sql>

    <select id="getDoctorList" resultType="com.incaier.integration.platform.response.doctor.DoctorVo">
        select
            di.id,
            di.phone_number,
            di.name,
            di.sex,
            di.birthday,
            di.user_name,
            dp.code,
            dp.practice_org,
            dp.practice_level,
            dp.practice_type,
            dp.practice_item
        from
            doctor_info di
        left join doctor_practicepoint dp on di.id = dp.doctor_id
        and dp.is_delete = 0
        where
            di.is_delete = 0
        <if test="keyword != null and keyword != ''">
            and name LIKE concat('%',#{keyword},'%')
        </if>
        <if test="orgCode != null and orgCode != ''">
            and di.org_code = #{orgCode}
        </if>
        <if test="practiceLevel != null and practiceLevel != ''">
            and dp.practice_level = #{practiceLevel}
        </if>
        <if test="practiceType != null and practiceType != ''">
            and dp.practice_type = #{practiceType}
        </if>
        <if test="practiceItem != null and practiceItem != ''">
            and dp.practice_item = #{practiceItem}
        </if>
        <if test="keyword != null and keyword != ''">
            and (di.name LIKE concat('%',#{keyword},'%') or di.phone_number = #{keyword})
        </if>
    </select>

    <!-- 插入或者更新 -->
    <insert id="saveOrUpdate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO doctor_info (id, name, sex, identity_no, birthday, ethnicity, phone_number, email, user_name, org_code, create_by, update_by)
        VALUES (#{id}, #{name}, #{sex}, #{identityNo}, #{birthday}, #{ethnicity}, #{phoneNumber}, #{email}, #{userName}, #{orgCode}, #{createBy}, #{updateBy})
        ON DUPLICATE KEY UPDATE
        name = VALUES(name),
        sex = VALUES(sex),
        identity_no = VALUES(identity_no),
        birthday = VALUES(birthday),
        ethnicity = VALUES(ethnicity),
        phone_number = VALUES(phone_number),
        email = VALUES(email),
        org_code = VALUES(org_code),
        update_by = VALUES(update_by)
    </insert>

</mapper>
