<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incaier.integration.platform.mapper.DoctorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incaier.integration.platform.entity.doctor.DoctorInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="position_id" property="position_id" />
        <result column="identity_no" property="identityNo" />
        <result column="identification_photo" property="identification_photo" />
        <result column="ethnicity" property="ethnicity" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="user_name" property="userName" />
        <result column="org_code" property="orgCode" />
        <result column="is_expert" property="is_expert" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sex, identity_no, ethnicity, phone_number, email, user_name, org_code, is_expert, create_by, create_time, update_by, update_time, is_delete
    </sql>

    <select id="getCount" resultType="java.lang.Integer">
        select
            count(*)
        from
        <include refid="Common_DoctorInfo" />
    </select>

    <select id="getDoctorList" resultType="com.incaier.integration.platform.response.doctor.DoctorVo">
        select
            di.id,
            di.phone_number,
            di.name,
            di.sex,
            di.birthday,
            di.user_name,
            dp.code,
            dp.practice_org,
            sdd1.id as practice_level_id,
            sdd1.dict_label as practice_level,
            sdd3.id as practice_item_id,
            sdd3.dict_label as practice_item,
            sdd4.id as practice_type_id,
            sdd4.dict_label as practice_type
        from
        <include refid="Common_DoctorInfo" />
    </select>

    <select id="getDoctorList_COUNT" resultType="java.lang.Integer">
        select
            count(*)
        from
        <include refid="Common_DoctorInfo" />
    </select>

    <select id="getDoctorExpertList" resultType="com.incaier.integration.platform.response.doctor.DoctorExpertLabelVo">
        select
            di.id as id,
            di.name as name,
            di.phone_number as phoneNumber,
            di.identity_no as identityNo,
            di.org_code as orgCode,
            o.name as orgName
        from doctor_info di
        inner join org o on di.org_code = o.code
        left join expert_label el on di.id = el.doctor_id and el.is_delete = 0
        where di.is_delete = 0
        and di.is_expert = 1
        <if test="dictIds != null and dictIds.size() > 0 ">
            and el.dict_id in
            <foreach collection="dictIds" item="dictId" open="(" close=")" separator=",">
                #{dictId}
            </foreach>
        </if>
        group by di.id
        order by di.id desc
    </select>

    <select id="getExpertCount" resultType="java.lang.Integer">
        select
            count(*)
        from doctor_info di
        inner join org o on di.org_code = o.code
        left join expert_label el on
        di.id = el.doctor_id and el.is_delete = 0
        where di.is_delete = 0
        and di.is_expert = 1
        <if test="dictIds != null and dictIds.size() > 0 ">
            and el.dict_id in
            <foreach collection="dictIds" item="dictId" open="(" close=")" separator=",">
                #{dictId}
            </foreach>
        </if>
        group by di.id
    </select>

    <!-- 插入或者更新 -->
    <insert id="saveOrUpdate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO doctor_info (id, name, sex, position_id, identity_no, identification_photo, birthday, ethnicity, phone_number, email, user_name, org_code, is_expert, create_by, update_by)
        VALUES (#{id}, #{name}, #{sex}, #{positionId}, #{identityNo}, #{identificationPhoto}, #{birthday}, #{ethnicity}, #{phoneNumber}, #{email}, #{userName}, #{orgCode}, #{isExpert}, #{createBy}, #{updateBy})
        ON DUPLICATE KEY UPDATE
        name = VALUES(name),
        sex = VALUES(sex),
        position_id = VALUES(position_id),
        identity_no = VALUES(identity_no),
        identification_photo = VALUES(identification_photo),
        birthday = VALUES(birthday),
        ethnicity = VALUES(ethnicity),
        phone_number = VALUES(phone_number),
        email = VALUES(email),
        org_code = VALUES(org_code),
        is_expert = VALUES(is_expert),
        update_by = VALUES(update_by)
    </insert>

    <select id="getDoctorScoreList" resultType="com.incaier.integration.platform.response.doctor.DoctorScoreVo">
        select
            di.id as doctorId,
            di.name,
            di.phone_number,
            di.identity_no,
            di.org_code,
            o.name as orgName,
            di.score,
            max(dsh.create_time) as lastUpdateTime
        from
            doctor_info di
        inner join org o on di.org_code = o.code
        left join doctor_score_history dsh on di.id = dsh.doctor_id and dsh.is_delete = 0
        where di.is_delete = 0
          and o.is_delete = 0
        <if test="keyword != null and keyword != ''">
            and di.name LIKE concat('%',#{keyword},'%')
        </if>
        <if test="orgCode != null and orgCode != ''">
            and di.org_code = #{orgCode}
        </if>
        group by
            di.id
        order by lastUpdateTime desc
    </select>

    <select id="getScoreHistoryCount" resultType="java.lang.Integer">
        select count(*) from (
        select
            di.id,
            di.name,
            di.phone_number,
            di.identity_no,
            di.org_code,
            o.name as orgName,
            di.score,
        max(dsh.create_time) as lastUpdateTime
        from
        doctor_info di
        inner join org o on di.org_code = o.code
        left join doctor_score_history dsh on di.id = dsh.doctor_id and dsh.is_delete = 0
        where di.is_delete = 0
        and o.is_delete = 0
        <if test="keyword != null and keyword != ''">
            and di.name LIKE concat('%',#{keyword},'%')
        </if>
        <if test="orgCode != null and orgCode != ''">
            and di.org_code = #{orgCode}
        </if>
        group by
        di.id) as a
    </select>

    <select id="getDoctorInfoById" resultType="com.incaier.integration.platform.response.doctor.DoctorInfoVo">
        select
            di.id,
            di.name,
            di.phone_number,
            di.identity_no,
            di.org_code,
            o.name as orgName,
            di.score
        from
            doctor_info di
        inner join org o on di.org_code = o.code
        where di.is_delete = 0
          and o.is_delete = 0
          and di.id = #{doctorId}
    </select>

    <sql id="Common_DoctorInfo">
            doctor_info di
        left join doctor_practicepoint dp on di.id = dp.doctor_id and dp.is_delete = 0
        left join sys_dict_data sdd1 on dp.practice_level_id = sdd1.id and sdd1.status = 0
        left join sys_dict_data sdd2 on dp.practice_title_id = sdd2.id and sdd2.status = 0
        left join sys_dict_data sdd3 on dp.practice_item_id = sdd3.id and sdd3.status = 0
        left join sys_dict_data sdd4 on dp.practice_type_id = sdd4.id and sdd4.status = 0
        and dp.is_delete = 0
        where
        di.is_delete = 0
        <if test="orgCode != null and orgCode != ''">
            and di.org_code = #{orgCode}
        </if>
        <if test="practiceLevelId != null and practiceLevelId != ''">
            and dp.practice_level_id = #{practiceLevelId}
        </if>
        <if test="practiceTypeId != null and practiceTypeId != ''">
            and dp.practice_type_id = #{practiceTypeId}
        </if>
        <if test="practiceItemId != null and practiceItemId != ''">
            and dp.practice_item_id = #{practiceItemId}
        </if>
        <if test="keyword != null and keyword != ''">
            and (di.name LIKE concat('%',#{keyword},'%') or di.phone_number = #{keyword})
        </if>
        order by di.id desc
    </sql>
</mapper>
