<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incaier.integration.platform.mapper.MedicalEquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.incaier.integration.platform.entity.equipment.MedicalEquipment">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="equipment_model" property="equipmentModel" />
        <result column="manufacturer" property="manufacturer" />
        <result column="equipment_image" property="equipmentImage" />
        <result column="equipment_type_id" property="equipmentTypeId" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="supplier" property="supplier" />
        <result column="contract_number" property="contractNumber" />
        <result column="purchase_date" property="purchaseDate" />
        <result column="status" property="status" />
        <result column="asset_department" property="assetDepartment" />
        <result column="asset_responsible_person" property="assetResponsiblePerson" />
        <result column="related_document" property="relatedDocument" />
        <result column="scrap_info" property="scrapInfo" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, equipment_model, manufacturer, equipment_image, equipment_type_id, purchase_price, supplier, contract_number, purchase_date, status, asset_department, asset_responsible_person, related_document, scrap_info, create_by, create_time, update_by, update_time, is_delete
    </sql>


    <select id="getCount" resultType="java.lang.Integer">
        select
            count(*)
        from
        <include refid="Common_EquipmentInfo"/>
    </select>

    <select id="getList" resultType="com.incaier.integration.platform.response.MedicalEquipmentVo">
        select
            me.id,
            me.name,
            me.code,
            me.equipment_model,
            sdd.id as equipmentTypeId,
            sdd.dict_label as equipmentTypeName,
            me.manufacturer,
            me.purchase_date,
            me.asset_department,
            me.status,
            me.update_time
        from
        <include refid="Common_EquipmentInfo"/>
    </select>

    <insert id="saveOrUpdate" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO medical_equipment (id, name, code, equipment_model, manufacturer, equipment_image, equipment_type_id,
            purchase_price, supplier, contract_number, purchase_date, status, asset_department, asset_responsible_person, scrap_info, create_by, update_by)
        VALUES (#{id}, #{name}, #{code}, #{equipmentModel}, #{manufacturer}, #{equipmentImage}, #{equipmentTypeId},
            #{purchasePrice}, #{supplier}, #{contractNumber}, #{purchaseDate}, #{status}, #{assetDepartment}, #{assetResponsiblePerson}, #{scrapInfo}, #{createBy}, #{updateBy})
        ON DUPLICATE KEY UPDATE
        name = VALUES(name),
        code = VALUES(code),
        equipment_model = VALUES(equipment_model),
        manufacturer = VALUES(manufacturer),
        equipment_image = VALUES(equipment_image),
        equipment_type_id = VALUES(equipment_type_id),
        purchase_price = VALUES(purchase_price),
        supplier = VALUES(supplier),
        contract_number = VALUES(contract_number),
        purchase_date = VALUES(purchase_date),
        status = VALUES(status),
        asset_department = VALUES(asset_department),
        asset_responsible_person = VALUES(asset_responsible_person),
        scrap_info = VALUES(scrap_info),
        update_by = VALUES(update_by)
    </insert>

    <sql id="Common_EquipmentInfo">
            medical_equipment me
        left join sys_dict_data sdd on me.equipment_type_id = sdd.id and sdd.status = 0
        where
            me.is_delete = 0
        <if test="code != null and code != ''">
            and me.code = #{code}
        </if>
        <if test="equipmentTypeId != null and equipmentTypeId != ''">
            and me.equipment_type_id = #{equipmentTypeId}
        </if>
        <if test="purchaseDate != null and purchaseDate != ''">
            and me.purchase_date = #{purchaseDate}
        </if>
        <if test="status != null and status != ''">
            and me.status = #{status}
        </if>
        <if test="name != null and name != ''">
            and me.name LIKE concat('%',#{name},'%')
        </if>
        <if test="assetDepartment != null and assetDepartment != ''">
            and me.asset_department LIKE concat('%',#{assetDepartment},'%')
        </if>
        order by me.id desc
    </sql>
</mapper>
