<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.incaier.integration.platform.mapper.PersonnelMapper">

    <select id="getRolesByPersonnelId" resultType="com.incaier.integration.platform.response.RoleVO">
        select sr.ID     as roleId,
               sr.`NAME` as roleName,
               sr.INFO   as info
        from SYS_ROLE_USER sru
        inner join SYS_ROLE sr on sru.ROLE_ID = sr.ID
        where a.USER_ID = #{pk}
    </select>
</mapper>